@model Dish

<div class="text-center">
  @using(Html.BeginForm("CreateDish", "Dish", FormMethod.Post))
  {
    @Html.ValidationSummary(true)
      <div class="form-group">
        <strong>@Html.LabelFor(m => m.Name)</strong>
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Name, null, new {@class = "text-danger"})
      </div>
      <div class="form-group">
        <strong>@Html.LabelFor(m => m.Composition)</strong>
        @Html.TextBoxFor(m => m.Composition, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Composition, null, new {@class = "text-danger"})
      </div>
      <div class="form-group">
        <strong>@Html.LabelFor(m => m.Description)</strong>
        @Html.TextBoxFor(m => m.Description, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Description, null, new {@class = "text-danger"})
      </div>
      <div class="form-group">
        <strong>@Html.LabelFor(m => m.Price)</strong>
        <input class="form-control" type="number" id="Price" name="Price"/>
        @Html.ValidationMessageFor(m => m.Price, null, new {@class = "text-danger"})
      </div>
      <div class="form-group">
        <strong>@Html.LabelFor(m => m.Grams)</strong>
        @Html.TextBoxFor(m => m.Grams, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Grams, null, new {@class = "text-danger"})
      </div>
      <div class="form-group">
        <strong>@Html.LabelFor(m => m.Calorie)</strong>
        <p>Указываются калории на 100 грамм</p>
        @Html.TextBoxFor(m => m.Calorie, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Calorie, null, new {@class = "text-danger"})
      </div>
      <div class="form-group">
        <strong>@Html.LabelFor(m => m.CookTime)</strong>
        @Html.TextBoxFor(m => m.CookTime, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.CookTime, null, new {@class = "text-danger"})
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Добавить</button>
      </div>
  }
</div>

@section Scripts
{
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
