<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Меню ресторана</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-center align-items-start">
            <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand position-absolute" href="@Url.ActionLink("Index", "Home")">Меню ресторана</a>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        @Html.ActionLink("Создать", "Create", "Dish", new {}, new {@class = "nav-link active"})
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - RestaurantMenu
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
    <script src="https://kit.fontawesome.com/30cb0191ce.js" crossorigin="anonymous"></script>
</body>
</html>
