@using System.Globalization
@using RestaurantMenu.Helpers
@model TableViewModel

@{ Dish dummyModel = null; }
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateCreateSort">
                @Html.DisplayNameFor(model => dummyModel.DateCreate)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                @Html.DisplayNameFor(model => dummyModel.Name)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.CompositionSort">
                @Html.DisplayNameFor(model => dummyModel.Composition)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.DescriptionSort">
                @Html.DisplayNameFor(model => dummyModel.Description)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort">
                @Html.DisplayNameFor(model => dummyModel.Price)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.GramsSort">
                @Html.DisplayNameFor(model => dummyModel.Grams)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.CalorieSort">
                @Html.DisplayNameFor(model => dummyModel.Calorie)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.CookTimeSort">
                @Html.DisplayNameFor(model => dummyModel.CookTime)
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (Dish item in Model.Dishes) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Composition)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @{ string price = item.Price + " " + CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;}
                @Html.DisplayFor(model => price)
            </td>
            <td>
                @{ string grams = item.Grams + " г.";}
                @Html.DisplayFor(model => grams)
            </td>
            <td>
                @{ string calorie = item.CountCalorie();}
                @Html.DisplayFor(model => calorie)
            </td>
            <td>
                @{ string cookTime = item.CountTime();}
                @Html.DisplayFor(model => cookTime)
            </td>
            <td>
                <a type="button" class="btn btn-default" asp-controller="Dish" asp-action="Edit" asp-route-id="@item.Id" title="Редактировать">
                    <span class="fa fa-pen" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a type="button" class="btn btn-default" href="@Url.Action("Create", "Dish")" title="Просмотр">
                    <span class="fa fa-eye" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a type="button" class="btn btn-default" href="@Url.Action("Delete", "Dish", item)" title="Удалить">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, (DishSortState) ViewBag.CurrentSort, (x, cs) => Url.Action("Index", "Home", new { pageNumber = x, sortOrder = cs}))
</div>